In [40]:
import pandas as pd
from datetime import date

In [3]:
file_path = 'AddressBook.txt'

data = []

with open(file_path, 'r') as file:
    for line in file:
        data.append(line.strip().split(', '))

columns = ['Name', 'Sex', 'Date of birth']
df = pd.DataFrame(data, columns=columns)

In [4]:
df

            Name     Sex Date of birth
0  Bill McKnight    Male      16/03/77
1  Paul Robinson    Male      15/01/85
2     Gemma Lane  Female      20/11/91
3    Sarah Stone  Female      20/09/80
4    Wes Jackson    Male      14/08/74

In [5]:
df.dtypes

Name             object
Sex              object
Date of birth    object
dtype: object

In [6]:
# Transform 'Date of birth' column to date
df['Date of birth'] = pd.to_datetime(df['Date of birth'], format='%d/%m/%y')

## Question 1: How many males are in the address book ?

In [28]:
num_males = (df['Sex'] == 'Male').sum()

print(f'There are {num_males} males in this address book.')

There are 3 males in this address book.

In [29]:
# Transform it into a function that, given an address book, returns the number of males
def number_of_males(df: pd.DataFrame):
    num_males = (df['Sex'] == 'Male').sum()

    return f'There are {num_males} males in this address book.'

answer = number_of_males(df)

print(answer)

There are 3 males in this address book.

## Question 2: Who is the oldest person in the address book ?

In [20]:
mask_oldest_person = df['Date of birth'] == df['Date of birth'].min()

print(f"The oldest person is: {df[mask_oldest_person]['Name'].iloc[0]}\n")

display(df[mask_oldest_person])

The oldest person is: Wes Jackson

          Name   Sex Date of birth
4  Wes Jackson  Male    1974-08-14

In [44]:
# Transform it into a function that, given an address book, returns the oldest individual and their age.
def oldest_person(df: pd.DataFrame):
    mask_oldest_person = df['Date of birth'] == df['Date of birth'].min()

    # Extract individual information
    name = df[mask_oldest_person]['Name'].iloc[0]
    dob = df[mask_oldest_person]['Date of birth'].iloc[0]

    age = date.today().year - dob.year - ((date.today().month, date.today().day) < (dob.month, dob.day))

    return f'The oldest person in this address book is {name} with {age} years old.'

answer = oldest_person(df)

print(answer)

The oldest person in this address book is Wes Jackson with 49 years old.

## Question 3: How many days older is Bill than Paul ?

In [24]:
days_difference = (
    df.loc[df['Name'].str.contains('Paul'), 'Date of birth'].iloc[0] -
    df.loc[df['Name'].str.contains('Bill'), 'Date of birth'].iloc[0]
).days

print(f'Bill is {days_difference} days older than Paul.')

Bill is 2862 days older than Paul.

In [49]:
# Transform it into a function that, given an address book, returns the difference of age in days between two individuals.
def calculate_age_difference_in_days(df: pd.DataFrame, name1: str, name2: str):
    # Check if name1 is in the DataFrame
    if df['Name'].str.contains(name1).any():
        full_name1 = df.loc[df['Name'].str.contains(name1), 'Name'].iloc[0]
        dob1 = df.loc[df['Name'].str.contains(name1), 'Date of birth'].iloc[0]
    else:
        return f'{name1} not found in the address book.'

    # Check if name2 is in the Dataframe
    if df['Name'].str.contains(name2).any():
        full_name2 = df.loc[df['Name'].str.contains(name2), 'Name'].iloc[0]
        dob2 = df.loc[df['Name'].str.contains(name2), 'Date of birth'].iloc[0]
    else:
        return f'{name2} not found in the address book.'

    # Calculate the difference in days
    days_difference = (dob1 - dob2).days

    # Determine who is older to return correct phrasing
    if days_difference > 0:
        return f'{name2} ({full_name2}) is {abs(days_difference)} days older than {name1} ({full_name1}).'
    elif days_difference < 0:
        return f'{name1} ({full_name1}) is {abs(days_difference)} days older than {name2} ({full_name2}).'
    else:
        return f'{name1} ({full_name1}) and {name2} ({full_name2}) were born on the same day.'

answer = calculate_age_difference_in_days(df, 'Paul', 'Bill')

print(answer)

Bill (Bill McKnight) is 2862 days older than Paul (Paul Robinson).