In [2]:
import pandas as pd

In [3]:
file_path = 'AddressBook.txt'

data = []

with open(file_path, 'r') as file:
    for line in file:
        data.append(line.strip().split(', '))

columns = ['Name', 'Sex', 'Date of birth']
df = pd.DataFrame(data, columns=columns)

In [4]:
df

            Name     Sex Date of birth
0  Bill McKnight    Male      16/03/77
1  Paul Robinson    Male      15/01/85
2     Gemma Lane  Female      20/11/91
3    Sarah Stone  Female      20/09/80
4    Wes Jackson    Male      14/08/74

In [5]:
df.dtypes

Name             object
Sex              object
Date of birth    object
dtype: object

In [6]:
# Transform 'Date of birth' column to date
df['Date of birth'] = pd.to_datetime(df['Date of birth'], format='%d/%m/%y')

## Question 1: How many males are in the address book ?

In [8]:
num_males = (df['Sex'] == 'Male').sum()

print(f'There are {num_males} males in the address book.')

There are 3 males in the address book.

## Question 2: Who is the oldest person in the address book ?

In [20]:
mask_oldest_person = df['Date of birth'] == df['Date of birth'].min()

print(f"The oldest person is: {df[mask_oldest_person]['Name'].iloc[0]}\n")

display(df[mask_oldest_person])

The oldest person is: Wes Jackson

          Name   Sex Date of birth
4  Wes Jackson  Male    1974-08-14

## Question 3: How many days older is Bill than Paul ?

In [24]:
days_difference = (
    df.loc[df['Name'].str.contains('Paul'), 'Date of birth'].iloc[0] -
    df.loc[df['Name'].str.contains('Bill'), 'Date of birth'].iloc[0]
).days

print(f'Bill is {days_difference} days older than Paul.')

Bill is 2862 days older than Paul.